@import "../../../assets/styles";

.selectsparemodal {
    .modal-xl {
        --bs-modal-width: 72vw;
    }

    @media only screen and (max-width: 1024px) {
        .modal-xl {
            --bs-modal-width: 650px;
        }
    }

    .modal-title {
        font-size: 1.8vw;
        padding-left: 1vw;
    }

    @media only screen and (max-width: 1280px) {
        .modal-title {
            font-size: 23px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .modal-title {
            padding-left: 10px;
        }
    }

    .modal-body {
        .spare-searchbox {
            input {
                width: 40%;
                height: 3.2vw;
                border-radius: 0.95vw;
                padding: 0.65vw;
                margin: 1.3vw 2.25vw;
                font-size: 1.3vw;
            }

            @media only screen and (max-width: 1280px) {
                input {
                    height: 41px;
                    padding: 8px;
                    font-size: 16px;
                }
            }

            @media only screen and (max-width: 1024px) {
                input {
                    width: 250px;
                    border-radius: 10px;
                    margin: 13px 23px;
                }
            }
        }

        .spare-choice {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .input-checkbox {
                input {
                    width: 1.95vw;
                    height: 1.95vw;
                    cursor: pointer;
                }

                @media only screen and (max-width: 1280px) {
                    input {
                        height: 25px;
                    }
                }

                @media only screen and (max-width: 1024px) {
                    input {
                        width: 20px;
                    }
                }
            }

            .spare-label {
                display: inline-block;
                margin: 0.65vw 1.3vw;

                .spare-name.not-selected {
                    background-color: $nineth-color;
                    height: 3.5vw;
                    width: 25.5vw;
                    font-size: 1.5vw;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                @media only screen and (max-width: 1280px) {
                    .spare-name.not-selected {
                        height: 45px;
                        font-size: 19px;
                    }
                }

                @media only screen and (max-width: 1024px) {
                    .spare-name.not-selected {
                        width: 240px;
                    }
                }

                .spare-name.selected {
                    background-color: $thirteenth-color;
                    height: 3.5vw;
                    width: 25.5vw;
                    font-size: 1.5vw;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                @media only screen and (max-width: 1280px) {
                    .spare-name.selected {
                        height: 45px;
                        font-size: 19px;
                    }
                }

                @media only screen and (max-width: 1024px) {
                    .spare-name.selected {
                        width: 240px;
                    }
                }
            }

            @media only screen and (max-width: 1024px) {
                .spare-label {
                    margin: 7px 5px;
                }
            }

            .addoption {
                margin: 0.65vw 0vw 0vw 3.9vw;

                .sparename-input {
                    height: 3.5vw;
                    width: 13vw;
                    padding: 0.65vw;
                    border-radius: 0.33vw;
                    font-size: 1.2vw;
                }

                @media only screen and (max-width: 1600px) {
                    .sparename-input {
                        width: 13.5vw;
                        margin-right: 5px;
                    }
                }

                @media only screen and (max-width: 1280px) {
                    .sparename-input {
                        height: 45px;
                        padding: 8px;
                        font-size: 15px;
                    }
                }

                @media only screen and (max-width: 1024px) {
                    .sparename-input {
                        width: 115px;
                        border-radius: 3px;
                        margin-right: 5px;
                    }
                }

                .spareprice-input {
                    height: 3.5vw;
                    width: 5vw;
                    padding: 0.65vw;
                    border-radius: 0.33vw;
                    font-size: 1.2vw;
                }

                @media only screen and (max-width: 1600px) {
                    .spareprice-input {
                        margin-left: 5px;
                    }
                }

                @media only screen and (max-width: 1280px) {
                    .spareprice-input {
                        height: 45px;
                        padding: 8px;
                        font-size: 15px;
                    }
                }

                @media only screen and (max-width: 1024px) {
                    .spareprice-input {
                        width: 55px;
                        border-radius: 3px;
                        margin-left: 5px;
                    }
                }

                .addoption-button {
                    width: 5.75vw;
                    padding: 0.75vw;
                    font-size: 1.3vw;
                    margin-left: 0.25vw;
                    border-radius: 0.5vw;
                    text-align: center;
                    color: $second-color;
                    background-color: $fourth-color;
                    display: inline-block;
                    cursor: pointer;
                }

                @media only screen and (max-width: 1600px) {
                    .addoption-button {
                        margin-left: 0px;
                    }
                }

                @media only screen and (max-width: 1280px) {
                    .addoption-button {
                        padding: 9px;
                        font-size: 16px;
                    }
                }

                @media only screen and (max-width: 1024px) {
                    .addoption-button {
                        width: 50px;
                        margin-left: 1px;
                        border-radius: 5px;
                    }
                }
            }

            @media only screen and (max-width: 1024px) {
                .addoption {
                    margin: 7px 0px 0px 35px;
                }
            }
        }

        @media only screen and (max-width: 1024px) {
            .spare-choice {
                padding-left: 10px;
            }
        }
    }
}

.confirmcanceleditsparemodal {
    .modal-lg {
        --bs-modal-width: 50vw;
    }

    @media only screen and (max-width: 1280px) {
        .modal-lg {
            --bs-modal-width: 570px;
        }
    }

    .modal-title {
        font-size: 1.7vw;
        padding-left: 0.7vw;
    }

    @media only screen and (max-width: 1280px) {
        .modal-title {
            font-size: 22px;
            padding-left: 9px;
        }
    }

    .modal-body {
        font-size: 1.9vw;
        margin: 1.9vw 0vw;
        text-align: center;
    }

    @media only screen and (max-width: 1280px) {
        .modal-body {
            font-size: 24px;
            margin: 24px 0px;
        }
    }
}

.selectsparemodal,
.confirmcanceleditsparemodal {
    .modal-footer {
        justify-content: center;

        .button-no {
            width: 9.55vw;
            padding: 0.65vw;
            border-radius: 1.6vw;
            background-color: $eighth-color;
            color: $second-color;
            text-align: center;
            margin: 0.65vw;
            font-size: 1.15vw;
            cursor: pointer;
        }

        @media only screen and (max-width: 1280px) {
            .button-no {
                width: 122px;
                padding: 8px;
                border-radius: 20px;
                margin: 8px;
                font-size: 15px;
            }
        }

        .button-yes {
            width: 9.55vw;
            padding: 0.65vw;
            border-radius: 1.6vw;
            background-color: $sixth-color;
            color: $second-color;
            text-align: center;
            margin: 0.65vw;
            font-size: 1.15vw;
            cursor: pointer;
        }

        @media only screen and (max-width: 1280px) {
            .button-yes {
                width: 122px;
                padding: 8px;
                border-radius: 20px;
                margin: 8px;
                font-size: 15px;
            }
        }
    }
}