@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-family1: "Noto Sans Thai Looped", sans-serif;
$first-color: #000000;
$second-color: #ffffff;
$third-color: #17395c;
$fourth-color: #d7a421;
$fifth-color: #86b358;
$sixth-color: #688f4e;
$seventh-color: #c2c1c1;
$eighth-color: #ac1c1b;
$nineth-color: #dddddd;
$tenth-color: #B6CDB1;
$eleventh-color: #ff0000;
$twelfth-color: #21cbff;
$thirteenth-color: #B9DADE;
$fourteenth-color: #fff3c3;
$fifthteenth-color: #114878;
$sixthteenth-color: #ec407a;
$seventhteenth-color: #29b6f6;
$eighthteenth-color: #d7a421;
$ninethteenth-color: #d9efca;